<div class="background">
  <mat-toolbar color="primary">
    <!--  toolbar-->
    <mat-toolbar-row>
      <nav>
        <mat-menu #appMenu="matMenu">
          <button routerLink="/home" mat-menu-item matTooltip="View Photo Books">
            <mat-icon>home</mat-icon> Home
          </button>
          <button routerLink="/edit"  mat-menu-item matTooltip="Edit Photo Books">
            <mat-icon>edit</mat-icon>  Edit
          </button>
        </mat-menu>
      </nav>
      <span class="menu">
      <button mat-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </span>
      <span>
      i|i Image List
    </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--  content-->
  <main class="content">
    <router-outlet></router-outlet>
  </main>


</div>
